{%extends 'all-photos/base.html'%}

 {% block content %}

 <div class="container">


   <div class="row">
    <div class="col-md-6">
            <img src="{{photo.photo_image.url}}"  class="img-responsive" alt="">
    </div> 
    <div class="col-md-6">
            <div class="">
                    <h1 class="text-center">{{photo.image_name}}</h1>
                  </div>
               
                  <div class="">
                    <p>Taken at: {{photo.image_location}}</p>
                  </div>
                  <div class="">
                       <p>Photo Description: {{photo.image_description}}</p>
                     </div>
               
                  <div class="">
                    <p>POSTED {{photo.upload_date|timesince}} by:: {{photo.uploader.first_name}}</p>
                  </div>
               
                </div>    
   </div>
   
   </div>
   

 {% endblock %}